$base-color:   #777;
$second-color: #333;
$heading-font: Arial;
$black:        #000;

@import 'mixins';

.element {
  background: $black;
  height: 100px;
  width: 100px;

  p {
    color: $second-color;
  }
}

.link {
  color: $second-color;
  font-size: 12px;
}

.heading {
  @include ninjalink('blue', 'red', 'pink', 'purple');
  font-family: $heading-font;
}
